@tailwind base;
@tailwind components;
@tailwind utilities;

.App {

}

.user-card {
  color: black;
  height: 180px;
  border: 1px solid #F3F4F6;
  border-radius: 4px;
  background: #FFF;
  margin: 10px;
  padding: 10px 20px;
  grid-template-columns: 25% 75%;
}

.avatar-container {
  height: 112px;
  width: 112px;
  border-radius: 50%;
  overflow: hidden;
}

.repo-link {
  /* max-width: 70% !important; */
  white-space: nowrap
}

.user-details {
  color: black;
  height: calc(100vh - 50px);
}

.avatar {
  object-fit: contain;
}